<header class='header'>
  <a href='/' class='header_button_a'>
    <div class='header_button'>forum</div>
  </a>
  <div class='fill'></div>
  <div>
    <div id='login_button' class='header_button'></div>
    <div class='login_dropdown hidden'>
      <div class='body_button hidden' id='logout_button'>logout</div>
      <div class='login_dropdown_1 hidden' id='login_dropdown'>
        <input type='text' name='username' id='login_username'
          class='textbox_s' placeholder='username' maxlength='16'>
        <div class='space_v'></div>
        <input type='password' name='password' id='login_password'
          class='textbox_s' placeholder='password' maxlength='16'>
        <div class='space_v'></div>
        <div class='login_dropdown_2'>
          <div class='body_button post_login'>login</div>
          <div class='space_h'></div>
          <a href='/user/register' class='body_button_a'>
            <div class='body_button'>register</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="/js/header.js" type="text/javascript"></script>