<div class='full_length_box' data-id='{{threadId}}'>
  <div class='leftcont'>
    <div class='fill'></div>
    <div class='body_button post-post'>post</div>
  </div>
  <div class='rightcont'>
    <textarea name='content' autofocus required></textarea>
  </div>
</div>