{{#if isLoggedIn}}
  <div class='talking_box'>
    <p><a href='/user/logout'>logout</a> before registering a new account</p>
  </div>
{{else}}
  <form action='/user/register' method='post'>
    <div class='talking_box'>
      <input type='text' name='username' class='textbox_s' id='untb'
        placeholder="username" maxlength='16' autofocus required>
      <div class='space_v'></div>
      <input type='password' name='password' class='textbox_s' id='pwtb'
        placeholder="password" maxlength='16' required>
      <div class='space_v'></div>
      <button type='submit' id='register' disabled>register</button>
    </div>
    <div id='rbox' class='talking_box'>
      <div class='red h hidden'><p>username taken</p></div>
      <div class='red h'><p>username less than 4 char</p></div>
      <div class='red h hidden'><p>username contains space</p></div>
      <div class='red h'><p>password less than 4 char</p></div>
      <div class='red h hidden'><p>password contains space</p></div>
    </div>
  </form>
  <script src="/js/register.js" type="text/javascript"></script>
{{/if}}