{{#if isLoggedIn}}
<div class='talking_box'><p><a href='/user/logout'>logout</a> before registering a new account</p></div>
{{else}}
<form action='/user/register' method='post'>
    <div class='box v'>
        <input type='text' name='username' class='textbox_s' id='untb' placeholder="username" maxlength='16' autofocus required>
        <div class='space_v'></div>
        <input type='password' name='password' class='textbox_s' id='pwtb' placeholder="password" maxlength='16' required>
        <div class='space_v'></div>
        <button type='submit' id='register' disabled>register</button>
        <div id='mbox' class='talking_box'></div>
    </div>
</form>
<script src="/js/register.js" type="text/javascript"></script>
{{/if}}