body {
    color: black;
    background-color: lightgrey;
}

button {
    width: 60px;
}

textarea {
    flex-grow: 1;
}

// header {
//     display: flex;
//     min-width: 254px;
//     background-color: grey;
// }

// a:link {
//     color: powderblue;
// }

// a:visited {
//     color: plum;
// }

// a:active, a:hover {
//     color: white;
// }

// .pathlink:link, .pathlink:visited {
//     color: white;
// }

.fill {
    flex-grow: 1;
}

.space_v {
    height: 3px;
}

.space_h {
    width: 6px;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftcont {
    display: flex;
    flex-direction: column;
    border-right: solid lightgrey 1px;
    padding-right: 6px;
    width: 120px;
}

.rightcont {
    display: flex;
    flex-grow: 1;
    padding-left: 6px;
}

.textbox_s {
    width: 120px;
}

.textbox_l {
    flex-grow: 1;
}

.message_box {
    display: flex;
    margin: 6px;
    padding: 6px;
    min-width: 254px;
}
.header {
    display: flex;
    min-width: 254px;
    background-color: grey;
}
.header_button_a {
    color: black;
    text-decoration: none;
}
.header_button {
    align-items: center;
    display: flex;
    padding: 6px;
}
.header_button:hover, .header_button:focus {
    background-color: darkgrey;
    cursor: pointer;
}
.login_dropdown {
    position: absolute;
    background-color: grey;
    right: 0;
}
.login_dropdown_1 {
    display: flex;
    flex-direction: column;
    padding: 6px;
}
.login_dropdown_2 {
    display: flex;
}
.full_length_box {
    display: flex;
    margin: 6px;
    padding: 6px;
    min-width: 254px;
    background-color: grey;
}
.talking_box {
    display: flex;
    margin: 6px;
    padding: 6px;
    min-width: 254px;
    flex-direction: column;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}